{%- style -%}
  .two-column {
  }

  .two-column__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    box-sizing: border-box;
  }

  .left {
    width: 25%;
  }

  .right {
    width: 75%;
  }
{%- endstyle -%}

<div class="two-column">
  <div class="two-column__inner page-width">
    <div class="column left">
      <h2>{{ section.settings.left_content }}</h2>
    </div>
    <div class="column right">
      <p>{{ section.settings.right_content }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Two Column",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "left_content",
      "label": "Left Column Content",
      "default": "Left column content goes here."
    },
    {
      "type": "textarea",
      "id": "right_content",
      "label": "Right Column Content",
      "default": "Right column content goes here."
    }
  ],
  "presets": [
    {
      "name": "Two Column"
    }
  ]
}
{% endschema %}
